<%= form_for(@restaurant) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_field :name %>
	</div>
	<%= f.submit "Create restaurant", class: "btn btn-large btn-primary" %>
<% end %>